<h1>
  Projects

  <%= link_to new_project_path, class: "btn btn-primary" do %>
    <i class="bi bi-plus-lg" aria-hidden="true"></i>
    New Project
  <% end %>

  <% if current_page? projects_path(show_all: true) %>
    <%= link_to 'Show Only On going Projects', projects_path %>
  <% else %>
    <%= link_to 'Show All Projects', projects_path(show_all: true) %>
  <% end %>
</h1>


<% @projects.each do |project| %>
  <h2><%= link_to project.name, project %></h2>
  <p>
    <%= project.description %>
  </p>
<% end %>
